<div
  class="accordion {%if accordion_behavior_single %}single-accordion{% endif %}"
>
  {% for accordion in accordion_list %}
  <button
    class="accordion-btn"
    aria-expanded="false"
    aria-controls="accordion-item-{{ loop.index }}"
  >
    <div class="accordion-label">
      <span class="accordion-label__title">{{ accordion.title }}</span>
      {% if accordion.role %}
      <span class="accordion-label__role">{{ accordion.role }}</span>
      {% endif %}
      <span
        class="accordion-label__icon magnet magnet-strong"
        aria-hidden="true"
      >
        <span class="line"></span>
        <span class="line"></span>
      </span>
    </div>
    <div class="accordion-content" id="accordion-item-{{ loop.index }}">
      <div class="accordion-content__inner">
        <p class="accordion-content__message">{{ accordion.content }}</p>
        {% if accordion.img %}
        <img class="accordion-content__img" src="{{ accordion.img }}" alt="" />
        {% endif %}
        <!-- prettier-ignore -->
        {% if accordion.social_media %}
          {% set social_data = accordion.social_media %}
          {% include "./social-media.html" %} 
        {% endif %}
      </div>
    </div>
  </button>
  {% endfor %}
</div>
