<div class="cta-group">
  {% if cta_1_text %}
  <a
    class="cta-1 tab-element-page {{ cta_1_class }}"
    href="{{ cta_1_url }}"
    aria-label="{{ cta_1_description or cta_1_text }}"
    title="{{ cta_1_description or cta_1_text }}"
  >
    {{ cta_1_text }}
    <span class="cta-1__icon magnet magnet-strong"></span>
  </a>
  {% endif %}
  <!-- prettier-ignore -->
  {% if cta_2_text %}
  <a
    class="cta-2 tab-element-page"
    href="{{ cta_2_url }}"
    aria-label="{{ cta_2_description or cta_2_text }}"
    title="{{ cta_2_description or cta_2_text }}"
  >
    {{ cta_2_text }}
    <span class="cta-2__icon-group magnet magnet-strong">
      <span class="cta-2__icon"></span>
      <svg
        class="cta-2__circle"
        viewBox="0 0 48 48"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M24.014 1C36.7101 1.00759 47 11.3021 47 24C47 36.7025 36.7025 47 24 47C11.2975 47 1 36.7025 1 24C1 11.3021 11.2899 1.00759 23.986 1"
        ></path>
      </svg>
    </span>
  </a>
  {% endif %}
</div>
