* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::selection {
    background: rgba($sage, 0.25);
    // background-color: var(--font-color--primary);
    // color: var(--background-color);
  }

  // Autofill for form fields: input, textarea, select, etc. Feel free to delete if there are no forms
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus-visible {
    -webkit-text-fill-color: var(--font-color--primary);
    -webkit-box-shadow: 0 0 0px 1000px var(--background-color) inset;
  }

  // This hides the default buttons on input type="number"
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    display: none;
  }
}

body {
  background: var(--background-color);
  color: var(--font-color--primary);

  & > * {
    max-width: $content-width;
    margin: auto;
  }

  // Loader styles, controlled by having a loader partial present in the html
  &:has(.site-loader) {
    $duration: 1s;
    $delay: 0.25s;

    .hero {
      h1,
      p,
      div {
        opacity: 0;
        transition: $duration ease $delay;
      }

      p {
        transition-delay: $delay + 0.075s;
      }
      div {
        transition-delay: $delay + 0.125s;
      }
    }
  }

  // Loader complete styles
  &:has(.load-complete) {
    .hero {
      h1,
      p,
      div {
        opacity: 1;
      }
    }
  }
}

.main-content {
  @include ultra-wide(var(--background-color), 0); // bg-color controlled here
  position: relative;
  background: var(--background-color);
  margin-block-end: var(--footer-height); // For site-footer (behind content)
}

.site-header {
  // No static content here to allow clickthrough

  & > * {
    z-index: $z-index--header;
    position: fixed;
    transition: opacity 0.5s ease;
  }

  .header-logo {
    @include left-spacing;
    top: 56px;
    display: flex;

    @include mq-max("md") {
      top: 38px;
    }
  }

  .header-links {
    @include row-center;
    @include right-spacing;
    top: 68px;
    gap: 48px;

    @include mq-max("lg") {
      display: none;
    }

    &__link {
      &:hover,
      &:focus-visible {
        &::after {
          background: var(--font-color--primary);
        }
      }
    }
  }

  .site-nav-btn-wrapper {
    display: none;

    @include mq-max("lg") {
      @include right-spacing;
      top: 74px;
      translate: 0 -50%;
      transition: opacity 0.3s ease;
      // mix-blend-mode: difference;
      display: block;
    }

    @include mq-max("md") {
      top: 56px;
    }

    .site-nav-btn {
      $line-offset: 4px;

      width: 28px;
      height: 28px;
      transition: 0.2s ease 0s;

      &:hover,
      &:focus-visible {
        scale: 1.1;
      }

      &:active {
        scale: 0.9;
      }

      .site-nav-btn-line-wrapper {
        position: relative;
        transition: 0.2s ease;
      }

      &-line {
        @include absolute-center;
        width: 100%;
        height: 3px;
        border-radius: 12px;
        background: var(--font-color--primary);
        transition: 0.3s ease;

        &:first-of-type {
          translate: -50% calc(-50% - $line-offset);
        }
        &:last-of-type {
          translate: -50% calc(-50% + $line-offset);
        }
      }

      &[aria-expanded="true"] {
        .site-nav-btn-line-wrapper {
          rotate: 45deg;
        }
        .site-nav-btn-line {
          translate: -50% -50%;

          &:last-of-type {
            rotate: 90deg;
          }
        }
      }
    }
  }

  &.away-from-top {
    > * {
      opacity: 0;
    }
  }

  // &.nav-active {

  // }
}

.site-nav {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100dvh;
  overflow: auto;
  opacity: 0;
  pointer-events: none;
  z-index: $z-index--nav;

  @include mq-min("lg") {
    display: none;
  }

  .width-constraint {
    position: relative;
    max-width: $content-width;
    height: 100dvh;
    min-height: 768px;
    margin: auto;

    @include mq-max("xxl") {
      min-height: 640px;
    }

    @include mq-max("sm") {
      min-height: 520px;
    }
  }

  .nav-links,
  .nav-footer-links {
    position: absolute;

    li {
      a {
        font-family: $brand-font--body;
      }
    }
  }

  .nav-links {
    @include left-spacing;
    @include column-start;
    gap: 12px;
    top: 50%;
    translate: 0 -50%;

    li {
      display: flex;
      overflow: hidden;

      &:focus-within {
        border-radius: 4px;
        box-shadow: 0 0 0 3px rgba(#2353c1, 0.75), 0 0 0 5px rgba(#fff, 0.75);
      }
    }

    .nav-link {
      @include h2;
      text-transform: uppercase;
      line-height: 100%;
      height: 100%;
      translate: 0 100%;
      border-left: 4px solid transparent;
      // transition: 0.2s ease, translate 0.3s ease 0.6s;

      &:hover,
      &:focus-visible {
        padding-left: 24px;
        border-color: var(--primary-accent-color);

        @include mq-max("xxl") {
          padding-left: 16px;
        }
      }
    }
  }

  .nav-footer-links {
    @include left-spacing;
    @include row-center;
    bottom: var(--body-padding);
    gap: 48px;

    @include mq-max("lg") {
      gap: 24px;
    }

    @include mq-max("md") {
      @include column-start;
      gap: 12px;
    }

    @include mq-max("sm") {
      gap: 4px;
    }

    li {
      .nav-footer-link {
        padding: 4px;
        border-bottom: 2px solid transparent;
        transition: 0.2s ease;

        &:hover,
        &:focus-visible {
          border-color: var(--primary-accent-color);
        }
      }
    }
  }

  .social-media-links {
    @include right-spacing;
    position: absolute;
    bottom: var(--body-padding);
  }

  &[aria-hidden="false"] {
    opacity: 1;
    pointer-events: all;
    background: var(--background-color);
    transition: background 0s ease;

    .nav-links li {
      @for $i from 1 through 10 {
        &:nth-of-type(#{$i}) {
          $transition: 0.25s + $i * 0.16s;
          $delay: 0.2s + $i * 0.04s;

          .nav-link {
            transition: 0.2s ease, translate $transition ease $delay;
          }
        }
      }
    }

    .nav-links,
    .nav-footer-links,
    .nav-social-media {
      opacity: 1;
      pointer-events: all;
      // transition: opacity 0s ease 0.3s;

      .nav-link {
        translate: 0 0;
      }
    }
  }
}

.site-footer {
  // height established in utility.js for scroll reveal
  @include dark-theme;
  @include ultra-wide(var(--background-color)); // bg-color controlled here
  @include row-start(space-between);
  flex-wrap: wrap;
  position: fixed;
  bottom: 0;
  left: 50%;
  padding: var(--body-padding-double) var(--body-padding) var(--body-padding);
  translate: -50% 0;
  width: 100vw;
  z-index: -1;

  @include mq-max("lg") {
    --footer-gap: 64px;

    gap: var(--footer-gap);
  }

  @include mq-max("sm") {
    --footer-gap: 48px;
  }

  .title-group {
    @include column-start;
    gap: 48px;

    @include mq-min("lg") {
      width: 50%;
      padding-inline-end: 48px;
    }
  }

  .paragraph-group {
    @include column-start;
    gap: 128px;
    padding-block-start: 12px; // To try and align with large text

    @include mq-min("lg") {
      width: 50%;
    }

    @include mq-max("lg") {
      gap: var(--footer-gap);
    }

    .mail-link {
      font-size: min(3vw, 56px);

      @include mq-max("lg") {
        @include h4;
      }

      @include mq-max("sm") {
        @include h6;
      }

      &::before {
        @include mq-min("lg") {
          height: 2px;
        }
        @include mq-min("xxl") {
          height: 3px;
        }
      }
    }
  }

  .bottom-group {
    --top-space: 248px;
    @include row-center(flex-start);
    width: 100%;
    margin-block-start: var(--top-space);

    @include mq-max("xxl") {
      --top-space: 128px;
    }

    @include mq-max("lg") {
      --top-space: var(--footer-gap);
    }

    @include mq-max("sm") {
      flex-direction: column-reverse;
      align-items: flex-start;
      gap: var(--footer-gap);
    }

    .copyright {
      width: 100%;

      @include mq-min("md") {
        width: 50%;
      }
    }
  }
}

.site-loader {
  @include row-center;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100dvh;
  background: var(--background-color);
  z-index: $z-index--loader;

  &__text {
    @include h6;
    color: var(--font-color--primary);
  }

  &.load-complete {
    transition: 0.5s ease;
    opacity: 0;
    pointer-events: none;
  }
}

section {
  @include section-padding;
  position: relative; // prevents content from hiding (ultra wide mxixin maybe)
  background: var(--background-color);

  &.hero {
    padding-block: 380px;

    @include mq-max("xxl") {
      padding-block: 320px;
    }

    @include mq-max("md") {
      padding-block: 248px;
    }
  }
}

.hero {
  @include column-start;
  gap: 24px;
  height: 100vh;

  @include mq-min("xl") {
    height: max(100vh, 750px);
  }

  @include mq-max("lg") {
    align-items: center;
  }

  &__text {
    @include row-end(flex-start);

    @include mq-max("xl") {
      flex-direction: column;
      gap: 24px;
      align-items: flex-start;
    }

    @include mq-max("lg") {
      align-items: center;
    }
  }

  &__title {
    text-wrap: balance;

    @include mq-min("lg") {
      margin-inline-end: 64px;
    }

    @include mq-max("lg") {
      text-align: center;
    }
  }

  &__small {
    padding-block-end: 2.5ch;
    text-wrap: balance;

    @include mq-max("lg") {
      text-align: center;
    }
  }
}

h1,
.h1 {
  @include h1;
  // text-transform: uppercase;
}
h2,
.h2 {
  @include h2;
}
h3,
.h3 {
  @include h3;
}
h4,
.h4 {
  @include h4;
}
h5,
.h5 {
  @include h5;
}
h6,
.h6 {
  @include h6;
}

p,
strong,
em,
a,
figcaption,
blockquote,
input,
textarea,
label {
  @include body-font-styles;
  text-decoration: none;
}

strong {
  font-weight: 900;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

span {
  font-family: inherit;
}

small {
  font-family: $brand-font--body;
  font-size: 14px;
}

img,
video {
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

figure {
  font-size: 0; // Chrome's user agent stylesheet adds 1em padding-block-end
}

// Components

.cta-1 {
  @include row-center(space-between);
  border: 1px solid var(--font-color--primary);
  border-radius: var(--radius);
  padding: 8px 16px;

  &__icon {
    --icon-size: 28px;

    @include mask-image("../img/icons/icon-cta-1.svg");
    background-color: var(--hero-color--primary);
    width: var(--icon-size);
    height: var(--icon-size);
    translate: 8px 0;
  }
}

.cta-2 {
  @include row-center(space-between);
  gap: 8px;

  &__icon {
    --icon-size: 12px;

    @include mask-image("../img/icons/icon-cta-2.svg");
    background-color: var(--hero-color--primary);
    width: var(--icon-size);
    height: var(--icon-size);
  }
}

.cta-group {
  @include row-center;
  gap: 24px;
  flex-shrink: 0;
}

.eyebrow {
  @include row-center;
  gap: 8px;
  color: var(--hero-color--primary);

  &__icon {
    --icon-size: 16px;

    width: var(--icon-size);
    height: var(--icon-size);
  }
}

.social-media-links {
  display: flex;
  gap: 24px;

  @include mq-max("md") {
    gap: 12px;
  }

  .social-media-link {
    --link-size: 24px;

    @include row-center;
    width: var(--link-size);
    height: var(--link-size);
    overflow: hidden;
    transition: 0.25s ease;

    &:hover,
    &:focus-visible {
      scale: 1.1;
    }

    &__img {
      background-color: white;
      mask-size: cover;
      mask-position: center;
      width: 100%;
      height: 100%;
    }
  }
}
