$brand-font--heading: Avenir, Montserrat, Corbel, "URW Gothic", source-sans-pro,
  sans-serif;
$brand-font--body: Avenir, Montserrat, Corbel, source-sans-pro, sans-serif; // If not using a 'Modern font stack' just have one fallback

$black: #201b1b;
$neutral: #e4d0d0;
$white: #f5f5f5;
$page: #efe7da;
$forest: #4d4b3c;
$sage: #739267;
$seafoam: #8eaaa5;

$content-width: 1920px;

// Layering
$z-index--nav: 3;
$z-index--header: 4;
$z-index--loader: 10;

// Easing
$cubic-ease: cubic-bezier(0.18, 0.97, 0.47, 1);
$cubic-ease-sudden: cubic-bezier(1, 0.07, 0.2, 1);
$cubic-ease-sudden-back: cubic-bezier(0.8, -0.11, 0.11, 1.11);
$cubic-ease-sudden-back-strong: cubic-bezier(0.77, -0.43, 0.11, 1.11);
$cubic-ease-slow-finish: cubic-bezier(0.09, 0.9, 0.5, 1);

$ease: 0.24s ease;
$ease-c: 0.48s $cubic-ease;

// Library
$magnet: translate 0.5s $cubic-ease-slow-finish; // used in transition property

// Debugging
$test: 2px dashed rgba(crimson, 0.75);
$test-bg: rgba(navy, 0.75);

:root {
  --font-family--heading: #{$brand-font--heading};
  --font-family--body: #{$brand-font--body};

  --background-color: #{$white};
  --font-color--primary: #{$black};
  --font-color--secondary: #{$neutral};
  --font-color--tertiary: #{$seafoam};

  --hero-color--primary: #{$sage};
  --hero-color--secondary: #{$forest};

  --link-color: #{$neutral};
  --link-color-hover: #{$white};

  --content-width: #{$content-width};
  --body-padding: 64px;
  --body-padding-double: calc(var(--body-padding) * 2);

  --section-gap: 24px;
  --section-gap--lg: 64px;

  --thin-section-width: 74%;

  --radius: 48px;
  --radius-btn: 48px;

  @media (max-width: 1512px) {
    --body-padding: 48px;
  }

  @media (max-width: 1024px) {
    --body-padding: 24px;
    --section-gap--lg: 24px;
    --thin-section-width: 100%;
  }
}

// If you add a dark/light theme
// @media (prefers-color-scheme: dark) {
//   :root {
//     --background-color: #{$black};
//     --font-color--primary: #{$white};
//   }
// }
