// Base
// prettier-ignore
@import "variables",
 "mixins",
 "globals",
 "utility",
 "animations";

// Pages
// prettier-ignore
@import "./pages/home",
 "./pages/about",
 "./pages/style-guide",
 "./pages/404";

// Components
// prettier-ignore
@import "./components/accordion",
  "./components/cta-group",
  "./components/grid-flow-img",
  "./components/marquee",
  "./components/social-media";
