:root {
  --font-family--heading: Avenir, Montserrat, Corbel, URW Gothic, source-sans-pro, sans-serif;
  --font-family--body: Avenir, Montserrat, Corbel, source-sans-pro, sans-serif;
  --background-color: #f5f5f5;
  --font-color--primary: #201b1b;
  --font-color--secondary: #4d4b3c;
  --font-color--tertiary: #8eaaa5;
  --hero-color--primary: #739267;
  --link-color: #e4d0d0;
  --link-color-hover: #f5f5f5;
  --content-width: 1920px;
  --body-padding: 64px;
  --body-padding-double: calc(var(--body-padding) * 2);
  --section-gap: 24px;
  --section-gap--lg: 64px;
  --thin-section-width: 74%;
  --border-bold-girth: 2px;
  --border-bold-color: #e4d0d0;
  --radius: 48px;
  --radius-btn: 48px;
}
@media (max-width: 1512px) {
  :root {
    --body-padding: 48px;
  }
}
@media (max-width: 1024px) {
  :root {
    --body-padding: 24px;
    --section-gap--lg: 24px;
    --thin-section-width: 100%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::-moz-selection {
  background: rgba(115, 146, 103, 0.25);
}
*::selection {
  background: rgba(115, 146, 103, 0.25);
}
*:-webkit-autofill, *:-webkit-autofill:hover, *:-webkit-autofill:focus-visible {
  -webkit-text-fill-color: var(--font-color--primary);
  -webkit-box-shadow: 0 0 0px 1000px var(--background-color) inset;
}
* input::-webkit-outer-spin-button,
* input::-webkit-inner-spin-button {
  display: none;
}

body {
  background: var(--background-color);
  color: var(--font-color--primary);
}
body > * {
  max-width: 1920px;
  margin: auto;
}
body:has(.site-loader) .hero h1,
body:has(.site-loader) .hero p,
body:has(.site-loader) .hero div {
  opacity: 0;
  transition: opacity 1s ease 0.25s;
}
body:has(.site-loader) .hero p {
  transition-delay: 0.325s;
}
body:has(.site-loader) .hero div {
  transition-delay: 0.375s;
}
body:has(.load-complete) .hero h1,
body:has(.load-complete) .hero p,
body:has(.load-complete) .hero div {
  opacity: 1;
}

.main-content {
  position: relative;
  margin-block-end: calc(var(--footer-height) - 24px);
}
.main-content::before {
  content: "";
  isolation: isolate;
  position: absolute;
  top: 0;
  left: 50%;
  translate: -50% 0;
  width: 100vw;
  height: 100%;
  background-color: var(--background-color);
  z-index: 0;
}

.site-header > * {
  z-index: 4;
  position: fixed;
  transition: opacity 0.5s ease;
}
.site-header .header-logo {
  left: var(--body-padding);
  top: 56px;
  display: flex;
}
@media screen and (min-width: 1921px) {
  .site-header .header-logo {
    left: calc(50% - 960px + var(--body-padding));
  }
}
@media screen and (max-width: 768px) {
  .site-header .header-logo {
    top: 38px;
  }
}
.site-header .header-links {
  display: flex;
  justify-content: center;
  align-items: center;
  right: var(--body-padding);
  top: 68px;
  gap: 48px;
}
@media screen and (min-width: 1921px) {
  .site-header .header-links {
    right: calc(50% - (960px - var(--body-padding)));
  }
}
@media screen and (max-width: 1024px) {
  .site-header .header-links {
    display: none;
  }
}
.site-header .header-links__link:hover::after, .site-header .header-links__link:focus-visible::after {
  background: var(--font-color--primary);
}
.site-header .site-nav-btn-wrapper {
  display: none;
}
@media screen and (max-width: 1024px) {
  .site-header .site-nav-btn-wrapper {
    right: var(--body-padding);
    top: 74px;
    translate: 0 -50%;
    transition: opacity 0.24s ease;
    display: block;
  }
}
@media screen and (max-width: 1024px) and (min-width: 1921px) {
  .site-header .site-nav-btn-wrapper {
    right: calc(50% - (960px - var(--body-padding)));
  }
}
@media screen and (max-width: 768px) {
  .site-header .site-nav-btn-wrapper {
    top: 56px;
  }
}
.site-header .site-nav-btn-wrapper .site-nav-btn {
  width: 28px;
  height: 28px;
  transition: 0.2s ease 0s;
}
.site-header .site-nav-btn-wrapper .site-nav-btn:hover, .site-header .site-nav-btn-wrapper .site-nav-btn:focus-visible {
  scale: 1.1;
}
.site-header .site-nav-btn-wrapper .site-nav-btn:active {
  scale: 0.9;
}
.site-header .site-nav-btn-wrapper .site-nav-btn .site-nav-btn-line-wrapper {
  position: relative;
  transition: 0.2s ease;
}
.site-header .site-nav-btn-wrapper .site-nav-btn-line {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 100%;
  height: 3px;
  border-radius: 12px;
  background: var(--font-color--primary);
  transition: 0.24s ease;
}
.site-header .site-nav-btn-wrapper .site-nav-btn-line:first-of-type {
  translate: -50% calc(-50% - 4px);
}
.site-header .site-nav-btn-wrapper .site-nav-btn-line:last-of-type {
  translate: -50% calc(-50% + 4px);
}
.site-header .site-nav-btn-wrapper .site-nav-btn[aria-expanded=true] .site-nav-btn-line-wrapper {
  rotate: 45deg;
}
.site-header .site-nav-btn-wrapper .site-nav-btn[aria-expanded=true] .site-nav-btn-line {
  translate: -50% -50%;
}
.site-header .site-nav-btn-wrapper .site-nav-btn[aria-expanded=true] .site-nav-btn-line:last-of-type {
  rotate: 90deg;
}
.site-header.away-from-top:focus-within > * {
  opacity: 1;
  pointer-events: all;
}
.site-header.away-from-top > * {
  opacity: 0;
  pointer-events: none;
}
.site-header.nav-active > * {
  opacity: 1;
  pointer-events: all;
}

.site-nav {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100dvh;
  overflow: auto;
  opacity: 0;
  pointer-events: none;
  z-index: 3;
}
@media screen and (min-width: 1025px) {
  .site-nav {
    display: none;
  }
}
.site-nav .width-constraint {
  position: relative;
  max-width: 1920px;
  height: 100dvh;
  min-height: 768px;
  margin: auto;
}
@media screen and (max-width: 1512px) {
  .site-nav .width-constraint {
    min-height: 640px;
  }
}
@media screen and (max-width: 480px) {
  .site-nav .width-constraint {
    min-height: 520px;
  }
}
.site-nav .nav-links,
.site-nav .nav-footer-links {
  position: absolute;
}
.site-nav .nav-links li a,
.site-nav .nav-footer-links li a {
  font-family: Avenir, Montserrat, Corbel, source-sans-pro, sans-serif;
}
.site-nav .nav-links {
  left: var(--body-padding);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  top: 50%;
  translate: 0 -50%;
}
@media screen and (min-width: 1921px) {
  .site-nav .nav-links {
    left: calc(50% - 960px + var(--body-padding));
  }
}
.site-nav .nav-links li {
  display: flex;
  overflow: hidden;
}
.site-nav .nav-links li:focus-within {
  border-radius: 4px;
  box-shadow: 0 0 0 3px rgba(35, 83, 193, 0.75), 0 0 0 5px rgba(255, 255, 255, 0.75);
}
.site-nav .nav-links .nav-link {
  color: var(--font-color--primary);
  font-family: var(--font-family--heading);
  font-size: 72px;
  font-weight: 300;
  line-height: 112%;
  text-wrap: balance;
  letter-spacing: -2px;
  height: 100%;
  translate: 0 100%;
  border-left: 4px solid transparent;
}
@media screen and (max-width: 1512px) {
  .site-nav .nav-links .nav-link {
    font-size: max(48px, 4.4vw);
  }
}
@media screen and (max-width: 768px) {
  .site-nav .nav-links .nav-link {
    font-size: 48px;
    letter-spacing: -2px;
  }
}
@media screen and (max-width: 480px) {
  .site-nav .nav-links .nav-link {
    font-size: 40px;
  }
}
.site-nav .nav-links .nav-link:hover, .site-nav .nav-links .nav-link:focus-visible {
  padding-left: 24px;
  border-color: var(--primary-accent-color);
}
@media screen and (max-width: 1512px) {
  .site-nav .nav-links .nav-link:hover, .site-nav .nav-links .nav-link:focus-visible {
    padding-left: 16px;
  }
}
.site-nav .nav-footer-links {
  left: var(--body-padding);
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: var(--body-padding);
  gap: 48px;
}
@media screen and (min-width: 1921px) {
  .site-nav .nav-footer-links {
    left: calc(50% - 960px + var(--body-padding));
  }
}
@media screen and (max-width: 1024px) {
  .site-nav .nav-footer-links {
    gap: 24px;
  }
}
@media screen and (max-width: 768px) {
  .site-nav .nav-footer-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
  }
}
@media screen and (max-width: 480px) {
  .site-nav .nav-footer-links {
    gap: 4px;
  }
}
.site-nav .nav-footer-links li .nav-footer-link {
  padding: 4px;
  border-bottom: 2px solid transparent;
  transition: 0.2s ease;
}
.site-nav .nav-footer-links li .nav-footer-link:hover, .site-nav .nav-footer-links li .nav-footer-link:focus-visible {
  border-color: var(--primary-accent-color);
}
.site-nav .social-media-links {
  right: var(--body-padding);
  position: absolute;
  bottom: var(--body-padding);
}
@media screen and (min-width: 1921px) {
  .site-nav .social-media-links {
    right: calc(50% - (960px - var(--body-padding)));
  }
}
.site-nav[aria-hidden=false] {
  opacity: 1;
  pointer-events: all;
  background: var(--background-color);
  transition: background 0s ease;
}
.site-nav[aria-hidden=false] .nav-links li:nth-of-type(1) .nav-link {
  transition: 0.2s ease, translate 0.41s ease 0.24s;
}
.site-nav[aria-hidden=false] .nav-links li:nth-of-type(2) .nav-link {
  transition: 0.2s ease, translate 0.57s ease 0.28s;
}
.site-nav[aria-hidden=false] .nav-links li:nth-of-type(3) .nav-link {
  transition: 0.2s ease, translate 0.73s ease 0.32s;
}
.site-nav[aria-hidden=false] .nav-links li:nth-of-type(4) .nav-link {
  transition: 0.2s ease, translate 0.89s ease 0.36s;
}
.site-nav[aria-hidden=false] .nav-links li:nth-of-type(5) .nav-link {
  transition: 0.2s ease, translate 1.05s ease 0.4s;
}
.site-nav[aria-hidden=false] .nav-links li:nth-of-type(6) .nav-link {
  transition: 0.2s ease, translate 1.21s ease 0.44s;
}
.site-nav[aria-hidden=false] .nav-links li:nth-of-type(7) .nav-link {
  transition: 0.2s ease, translate 1.37s ease 0.48s;
}
.site-nav[aria-hidden=false] .nav-links li:nth-of-type(8) .nav-link {
  transition: 0.2s ease, translate 1.53s ease 0.52s;
}
.site-nav[aria-hidden=false] .nav-links li:nth-of-type(9) .nav-link {
  transition: 0.2s ease, translate 1.69s ease 0.56s;
}
.site-nav[aria-hidden=false] .nav-links li:nth-of-type(10) .nav-link {
  transition: 0.2s ease, translate 1.85s ease 0.6s;
}
.site-nav[aria-hidden=false] .nav-links,
.site-nav[aria-hidden=false] .nav-footer-links,
.site-nav[aria-hidden=false] .nav-social-media {
  opacity: 1;
  pointer-events: all;
}
.site-nav[aria-hidden=false] .nav-links .nav-link,
.site-nav[aria-hidden=false] .nav-footer-links .nav-link,
.site-nav[aria-hidden=false] .nav-social-media .nav-link {
  translate: 0 0;
}

.site-footer {
  --background-color: #201b1b;
  --font-color--primary: #f5f5f5;
  background-color: var(--background-color);
  color: var(--font-color--primary);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  position: fixed;
  bottom: 0;
  left: 50%;
  padding: var(--body-padding-double) var(--body-padding) var(--body-padding);
  translate: -50% 0;
  width: 100vw;
  z-index: -1;
}
.site-footer::before {
  content: "";
  isolation: isolate;
  position: absolute;
  top: 0;
  left: 50%;
  translate: -50% 0;
  width: 100vw;
  height: 100%;
  background-color: var(--background-color);
  z-index: -1;
}
@media screen and (max-width: 1024px) {
  .site-footer {
    --footer-gap: 64px;
    gap: var(--footer-gap);
  }
}
@media screen and (max-width: 480px) {
  .site-footer {
    --footer-gap: 48px;
  }
}
.site-footer .title-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 48px;
}
@media screen and (min-width: 1025px) {
  .site-footer .title-group {
    width: 50%;
    padding-inline-end: 48px;
  }
}
.site-footer .paragraph-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 128px;
  padding-block-start: 12px;
}
@media screen and (min-width: 1025px) {
  .site-footer .paragraph-group {
    width: 50%;
  }
}
@media screen and (max-width: 1024px) {
  .site-footer .paragraph-group {
    gap: var(--footer-gap);
  }
}
.site-footer .paragraph-group .mail-link {
  font-size: min(3vw, 56px);
}
@media screen and (max-width: 1024px) {
  .site-footer .paragraph-group .mail-link {
    color: var(--font-color--primary);
    font-family: var(--font-family--heading);
    font-size: 36px;
    font-weight: 300;
    line-height: 112%;
    text-wrap: balance;
  }
}
@media screen and (max-width: 1024px) and (max-width: 1512px) {
  .site-footer .paragraph-group .mail-link {
    font-size: max(24px, 2vw);
  }
}
@media screen and (max-width: 480px) {
  .site-footer .paragraph-group .mail-link {
    color: var(--font-color--primary);
    font-family: var(--font-family--heading);
    font-size: 28px;
    font-weight: 300;
    line-height: 112%;
    text-wrap: balance;
  }
}
@media screen and (max-width: 480px) and (max-width: 1512px) {
  .site-footer .paragraph-group .mail-link {
    font-size: max(18px, 1.6vw);
  }
}
@media screen and (min-width: 1025px) {
  .site-footer .paragraph-group .mail-link::before {
    height: 2px;
  }
}
@media screen and (min-width: 1513px) {
  .site-footer .paragraph-group .mail-link::before {
    height: 3px;
  }
}
.site-footer .bottom-group {
  --top-space: 248px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-block-start: var(--top-space);
}
@media screen and (max-width: 1512px) {
  .site-footer .bottom-group {
    --top-space: 128px;
  }
}
@media screen and (max-width: 1024px) {
  .site-footer .bottom-group {
    --top-space: var(--footer-gap);
  }
}
@media screen and (max-width: 480px) {
  .site-footer .bottom-group {
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: var(--footer-gap);
  }
}
.site-footer .bottom-group .copyright {
  width: 100%;
}
@media screen and (min-width: 769px) {
  .site-footer .bottom-group .copyright {
    width: 50%;
  }
}
.site-footer .bottom-group .credits {
  margin-right: auto;
}
.site-footer .bottom-group .credits .classic-link {
  font-size: inherit;
}

.site-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100dvh;
  background: var(--background-color);
  z-index: 10;
}
.site-loader__text {
  color: var(--font-color--primary);
  font-family: var(--font-family--heading);
  font-size: clamp(14px, 1.8vw, 20px);
  font-weight: 300;
  line-height: 112%;
  text-wrap: balance;
  font-weight: 400;
  color: var(--font-color--primary);
}
.site-loader.load-complete {
  transition: 0.5s ease;
  opacity: 0;
  pointer-events: none;
}

section {
  padding-inline: var(--body-padding);
  padding-block: var(--body-padding-double);
  position: relative;
  background: var(--background-color);
}

h1,
.h1 {
  color: var(--font-color--primary);
  font-family: var(--font-family--heading);
  font-size: 96px;
  font-weight: 300;
  line-height: 112%;
  text-wrap: balance;
  letter-spacing: -4px;
}
@media screen and (max-width: 1512px) {
  h1,
  .h1 {
    font-size: max(64px, 6vw);
  }
}
@media screen and (max-width: 1200px) {
  h1,
  .h1 {
    letter-spacing: -3px;
  }
}
@media screen and (max-width: 768px) {
  h1,
  .h1 {
    font-size: 48px;
    letter-spacing: -2px;
  }
}
@media screen and (max-width: 480px) {
  h1,
  .h1 {
    font-size: 40px;
  }
}

h2,
.h2 {
  color: var(--font-color--primary);
  font-family: var(--font-family--heading);
  font-size: 72px;
  font-weight: 300;
  line-height: 112%;
  text-wrap: balance;
  letter-spacing: -2px;
}
@media screen and (max-width: 1512px) {
  h2,
  .h2 {
    font-size: max(48px, 4.4vw);
  }
}
@media screen and (max-width: 768px) {
  h2,
  .h2 {
    font-size: 48px;
    letter-spacing: -2px;
  }
}
@media screen and (max-width: 480px) {
  h2,
  .h2 {
    font-size: 40px;
  }
}

h3,
.h3 {
  color: var(--font-color--primary);
  font-family: var(--font-family--heading);
  font-size: 52px;
  font-weight: 300;
  line-height: 112%;
  text-wrap: balance;
}
@media screen and (max-width: 1512px) {
  h3,
  .h3 {
    font-size: max(36px, 3.2vw);
  }
}
@media screen and (max-width: 480px) {
  h3,
  .h3 {
    font-size: 32px;
  }
}

h4,
.h4 {
  color: var(--font-color--primary);
  font-family: var(--font-family--heading);
  font-size: 36px;
  font-weight: 300;
  line-height: 112%;
  text-wrap: balance;
}
@media screen and (max-width: 1512px) {
  h4,
  .h4 {
    font-size: max(24px, 2vw);
  }
}

h5,
.h5 {
  color: var(--font-color--primary);
  font-family: var(--font-family--heading);
  font-size: 28px;
  font-weight: 300;
  line-height: 112%;
  text-wrap: balance;
}
@media screen and (max-width: 1512px) {
  h5,
  .h5 {
    font-size: max(18px, 1.6vw);
  }
}

h6,
.h6 {
  color: var(--font-color--primary);
  font-family: var(--font-family--heading);
  font-size: clamp(14px, 1.8vw, 20px);
  font-weight: 300;
  line-height: 112%;
  text-wrap: balance;
  font-weight: 400;
  color: var(--font-color--secondary);
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 0;
}

p,
strong,
em,
a,
figcaption,
blockquote,
input,
textarea,
label,
li,
dt,
dd {
  --font-size: 18px;
  color: var(--font-color--primary);
  font-family: Avenir, Montserrat, Corbel, source-sans-pro, sans-serif;
  font-size: var(--font-size);
  font-weight: 400;
  text-decoration: none;
}
@media screen and (max-width: 1512px) {
  p,
  strong,
  em,
  a,
  figcaption,
  blockquote,
  input,
  textarea,
  label,
  li,
  dt,
  dd {
    --font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  p,
  strong,
  em,
  a,
  figcaption,
  blockquote,
  input,
  textarea,
  label,
  li,
  dt,
  dd {
    --font-size: 14px;
  }
}
p.body-lg,
strong.body-lg,
em.body-lg,
a.body-lg,
figcaption.body-lg,
blockquote.body-lg,
input.body-lg,
textarea.body-lg,
label.body-lg,
li.body-lg,
dt.body-lg,
dd.body-lg {
  --font-size: 18px;
  color: var(--font-color--primary);
  font-family: Avenir, Montserrat, Corbel, source-sans-pro, sans-serif;
  font-size: var(--font-size);
  font-weight: 400;
  --font-size: 24px;
  line-height: 1.5;
}
@media screen and (max-width: 1512px) {
  p.body-lg,
  strong.body-lg,
  em.body-lg,
  a.body-lg,
  figcaption.body-lg,
  blockquote.body-lg,
  input.body-lg,
  textarea.body-lg,
  label.body-lg,
  li.body-lg,
  dt.body-lg,
  dd.body-lg {
    --font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  p.body-lg,
  strong.body-lg,
  em.body-lg,
  a.body-lg,
  figcaption.body-lg,
  blockquote.body-lg,
  input.body-lg,
  textarea.body-lg,
  label.body-lg,
  li.body-lg,
  dt.body-lg,
  dd.body-lg {
    --font-size: 14px;
  }
}
@media screen and (max-width: 1512px) {
  p.body-lg,
  strong.body-lg,
  em.body-lg,
  a.body-lg,
  figcaption.body-lg,
  blockquote.body-lg,
  input.body-lg,
  textarea.body-lg,
  label.body-lg,
  li.body-lg,
  dt.body-lg,
  dd.body-lg {
    --font-size: 20px;
  }
}
@media screen and (max-width: 768px) {
  p.body-lg,
  strong.body-lg,
  em.body-lg,
  a.body-lg,
  figcaption.body-lg,
  blockquote.body-lg,
  input.body-lg,
  textarea.body-lg,
  label.body-lg,
  li.body-lg,
  dt.body-lg,
  dd.body-lg {
    --font-size: 16px;
  }
}

strong {
  font-weight: 900;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

span {
  font-family: inherit;
}

small {
  font-family: Avenir, Montserrat, Corbel, source-sans-pro, sans-serif;
  font-size: 14px;
}
@media screen and (max-width: 1024px) {
  small {
    font-size: 12px;
  }
}

img,
video {
  width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
  list-style-position: inside;
}

figure {
  font-size: 0;
}

.eyebrow {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: var(--hero-color--primary);
}
.eyebrow__icon {
  --icon-size: 16px;
  width: var(--icon-size);
  height: var(--icon-size);
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
@media screen and (min-width: 1513px) {
  .hero {
    height: clamp(750px, 100vh, 1250px);
  }
}
@media screen and (max-width: 1512px) {
  .hero {
    height: clamp(625px, 100vh, 1100px);
  }
}
@media screen and (max-width: 768px) {
  .hero {
    height: clamp(500px, 100svh, 950px);
  }
}
.hero__text {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-block: var(--section-gap) var(--section-gap--lg);
}
@media screen and (max-width: 1200px) {
  .hero__text {
    flex-direction: column;
    align-items: flex-start;
    gap: var(--section-gap);
  }
}
@media screen and (max-width: 1024px) {
  .hero__text {
    margin-block: var(--section-gap);
  }
}
.hero__title {
  text-wrap: balance;
}
@media screen and (min-width: 1025px) {
  .hero__title {
    margin-inline-end: 64px;
  }
}
.hero__small {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-block-end: 2.5ch;
  text-wrap: balance;
}
@media screen and (max-width: 768px) {
  .hero__small {
    display: none;
  }
}
.hero__small-title {
  --font-size: 18px;
  color: var(--font-color--primary);
  font-family: Avenir, Montserrat, Corbel, source-sans-pro, sans-serif;
  font-size: var(--font-size);
  font-weight: 400;
  font-weight: 700;
}
@media screen and (max-width: 1512px) {
  .hero__small-title {
    --font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  .hero__small-title {
    --font-size: 14px;
  }
}

.faq {
  padding-inline: var(--body-padding);
  padding-block: var(--body-padding-double);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
@media screen and (min-width: 1025px) {
  .faq {
    padding-inline: calc(var(--body-padding) * 4);
  }
}
.faq .accordion {
  width: 100%;
  margin-block: var(--section-gap--lg) var(--section-gap);
}
.faq .cta-group {
  margin-block-start: var(--section-gap--lg);
}

.partners {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.partners__inner {
  display: flex;
  align-items: center;
  gap: var(--section-gap);
  width: var(--thin-section-width);
}
@media screen and (max-width: 1024px) {
  .partners__inner {
    justify-content: center;
  }
}
.partners__img {
  width: 250px;
}
@media screen and (max-width: 768px) {
  .partners__img {
    width: 25%;
  }
}
.partners__symbol {
  color: var(--font-color--primary);
  font-family: var(--font-family--heading);
  font-size: 72px;
  font-weight: 300;
  line-height: 112%;
  text-wrap: balance;
  letter-spacing: -2px;
  color: var(--font-color--tertiary);
}
@media screen and (max-width: 1512px) {
  .partners__symbol {
    font-size: max(48px, 4.4vw);
  }
}
@media screen and (max-width: 768px) {
  .partners__symbol {
    font-size: 48px;
    letter-spacing: -2px;
  }
}
@media screen and (max-width: 480px) {
  .partners__symbol {
    font-size: 40px;
  }
}

.paragraph,
.perk-list {
  display: flex;
  align-items: flex-start;
  gap: var(--section-gap);
}
@media screen and (max-width: 1024px) {
  .paragraph,
  .perk-list {
    flex-direction: column;
  }
}
.paragraph__text,
.perk-list__text {
  width: var(--thin-section-width);
}
.paragraph .small-title,
.perk-list .small-title {
  flex: 1;
}
@media screen and (min-width: 1025px) {
  .paragraph .small-title,
  .perk-list .small-title {
    position: sticky;
    top: 50%;
    translate: 0 -50%;
  }
}
.paragraph .cta-group,
.perk-list .cta-group {
  justify-content: flex-start;
  margin-block-start: var(--section-gap--lg);
}

.paragraph__text-title {
  margin-block-end: var(--section-gap);
}

.perk-list__list {
  margin-block-start: var(--section-gap--lg);
}
.perk-list__list-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 24px 0;
}
@media screen and (max-width: 1024px) {
  .perk-list__list-item {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }
}
.perk-list__list-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: var(--border-bold-girth);
  background: var(--border-bold-color);
  transition: 1.2s cubic-bezier(0.18, 0.97, 0.47, 1);
}
.perk-list__list-item.animate::before {
  width: 100%;
}
@media screen and (min-width: 1201px) {
  .perk-list__list-term {
    width: 36%;
    flex-shrink: 0;
  }
}
@media screen and (min-width: 1513px) {
  .perk-list__list-term {
    width: 40%;
  }
}
.perk-list__list-details {
  color: var(--hero-color--primary);
}

.team {
  padding-block-start: 0;
}
.team .accordion {
  width: var(--thin-section-width);
}
.team .accordion-btn:first-of-type {
  border-top: none;
}
.team .accordion-label {
  align-items: center;
  justify-content: flex-start;
}
.team .accordion-label__title {
  color: var(--font-color--primary);
  font-family: var(--font-family--heading);
  font-size: 52px;
  font-weight: 300;
  line-height: 112%;
  text-wrap: balance;
  flex-shrink: 0;
  white-space: nowrap;
}
@media screen and (max-width: 1512px) {
  .team .accordion-label__title {
    font-size: max(36px, 3.2vw);
  }
}
@media screen and (max-width: 480px) {
  .team .accordion-label__title {
    font-size: 32px;
  }
}
@media screen and (min-width: 769px) {
  .team .accordion-label__title {
    width: 40%;
  }
}
.team .accordion-label__role, .team .accordion-label__join-year {
  color: var(--font-color--primary);
  font-family: var(--font-family--heading);
  font-size: clamp(14px, 1.8vw, 20px);
  font-weight: 300;
  line-height: 112%;
  text-wrap: balance;
  font-weight: 400;
  flex-shrink: 0;
  color: var(--hero-color--primary);
}
@media screen and (min-width: 769px) {
  .team .accordion-label__role {
    margin-inline-end: auto;
  }
}
@media screen and (max-width: 768px) {
  .team .accordion-label__role {
    margin-inline-start: auto;
  }
}
.team .accordion-label__icon {
  display: none;
}
.team .accordion-content:has(.social-media-link:hover) .accordion-content__inner {
  overflow: visible;
}
.team .accordion-content__message {
  margin-block-end: 24px;
}
.team .accordion-content__img {
  display: none;
}
@media screen and (max-width: 768px) {
  .team .accordion-content__img {
    display: block;
    width: 250px;
    margin-block-end: 24px;
    border-radius: var(--radius-btn);
  }
}
@media screen and (max-width: 480px) {
  .team .accordion-content__img {
    width: 100%;
  }
}

.classic-link {
  position: relative;
}
@media (prefers-reduced-motion: no-preference) {
  .classic-link {
    transition: 0.24s ease;
  }
}
.classic-link::before {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  right: auto;
  width: 100%;
  height: 1px;
  background-color: currentColor;
}
@media (prefers-reduced-motion: no-preference) {
  .classic-link::before {
    transition: 0.24s ease;
  }
}
@media (hover: hover) and (pointer: fine) {
  .classic-link:hover, .classic-link:focus-visible {
    color: var(--hero-color--primary);
  }
  .classic-link:hover::before, .classic-link:focus-visible::before {
    width: 0;
    left: auto;
    right: 0;
  }
}

.classic-list {
  list-style: initial;
}

.fill-text {
  display: inline;
  background-repeat: no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(currentColor, currentColor);
  -webkit-text-fill-color: rgba(0, 0, 0, 0.25);
}
.fill-text--primary {
  -webkit-text-fill-color: rgba(115, 146, 103, 0.5);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@media all {
  .lg-up {
    display: none;
  }
}
@media screen and (min-width: 1025px) {
  .lg-up {
    display: block;
  }
}
@media all {
  .lg-down {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .lg-down {
    display: block;
  }
}
@media all {
  .md-up {
    display: none;
  }
}
@media screen and (min-width: 769px) {
  .md-up {
    display: block;
  }
}
@media all {
  .md-down {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .md-down {
    display: block;
  }
}
@media all {
  .sm-up {
    display: none;
  }
}
@media screen and (min-width: 481px) {
  .sm-up {
    display: block;
  }
}
@media all {
  .sm-down {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .sm-down {
    display: block;
  }
}
@media all {
  .text-stroke {
    -webkit-text-stroke: 1px var(--font-color--primary);
    color: transparent;
    font-weight: 500;
  }
  .underline {
    text-decoration: underline;
  }
  .color-primary {
    color: var(--hero-color--primary);
  }
}
@keyframes pulse {
  0%, 100% {
    scale: 1;
  }
  50% {
    scale: 1.075;
  }
}
@keyframes pulse-sm {
  0%, 100% {
    scale: 1;
  }
  50% {
    scale: 1.025;
  }
}
.main-home .hero {
  padding-block-end: 0;
}
@media screen and (min-width: 1513px) {
  .main-home .hero {
    height: clamp(750px, 80vh, 1250px);
  }
}
@media screen and (max-width: 1512px) {
  .main-home .hero {
    padding-block: 196px 0;
    height: clamp(625px, 75vh, 1100px);
  }
}
@media screen and (max-width: 1024px) {
  .main-home .hero {
    padding-block: 128px 0;
  }
}
@media screen and (max-width: 768px) {
  .main-home .hero {
    height: clamp(500px, 80svh, 950px);
  }
}

.main-style-guide .hero {
  height: auto;
  align-items: flex-start;
  gap: var(--section-gap);
  padding-block: 248px;
}
@media screen and (max-width: 768px) {
  .main-style-guide .hero {
    padding-block: 164px;
  }
}

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100lvh;
}
.error h1 {
  margin-block-end: 24px;
}
.error h1 span {
  letter-spacing: 6px;
  color: var(--hero-color--primary);
}
.error p {
  margin-block-end: 48px;
}

.accordion {
  display: flex;
  flex-direction: column;
}
.accordion:has(.accordion-btn:hover) .accordion-label__title, .accordion:has(.accordion-btn:focus-visible) .accordion-label__title {
  background-size: 0%;
}
.accordion-btn {
  border-bottom: var(--border-bold-girth) solid var(--border-bold-color);
  text-align: left;
  padding-block: 24px;
}
.accordion-btn:hover .accordion-label__title, .accordion-btn:focus-visible .accordion-label__title {
  background-size: 100% !important;
}
.accordion-btn:hover .accordion-label__icon, .accordion-btn:focus-visible .accordion-label__icon {
  rotate: 0deg;
}
@media (prefers-reduced-motion: no-preference) {
  .accordion-btn:hover .accordion-label__icon, .accordion-btn:focus-visible .accordion-label__icon {
    transition: translate 0.5s cubic-bezier(0.09, 0.9, 0.5, 1), 0.4s cubic-bezier(0.18, 0.97, 0.47, 1), rotate 0.24s ease;
    animation: pulse 0.24s ease;
  }
}
.accordion-btn:first-of-type {
  border-top: var(--border-bold-girth) solid var(--border-bold-color);
}
.accordion-btn[aria-expanded=true] .accordion-label {
  margin-bottom: 16px;
}
.accordion-btn[aria-expanded=true] .accordion-content {
  grid-template-rows: 1fr;
  visibility: visible;
}
.accordion-btn[aria-expanded=true] .accordion-label__title {
  background-size: 100% !important;
}
.accordion-btn[aria-expanded=true] .accordion-label__icon {
  rotate: 0deg;
}
.accordion-btn[aria-expanded=true] .accordion-label__icon .line:last-of-type {
  rotate: 180deg;
}
.accordion-label {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: var(--font-color--primary);
  font-family: var(--font-family--heading);
  font-size: 28px;
  font-weight: 300;
  line-height: 112%;
  text-wrap: balance;
  gap: 24px;
  transition: 0.64s cubic-bezier(0.18, 0.97, 0.47, 1);
}
@media screen and (max-width: 1512px) {
  .accordion-label {
    font-size: max(18px, 1.6vw);
  }
}
@media screen and (max-width: 480px) {
  .accordion-label {
    gap: 12px;
  }
}
.accordion-label__title {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  display: inline;
  background-repeat: no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(currentColor, currentColor);
  -webkit-text-fill-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  background-size: 100%;
  transition: 0.24s ease;
}
.accordion-label__icon {
  --icon-size: 28px;
  position: relative;
  background-color: var(--hero-color--primary);
  width: var(--icon-size);
  height: var(--icon-size);
  border-radius: 50%;
  display: inline-flex;
  flex-shrink: 0;
  rotate: -90deg;
  transition: 0.24s ease, translate 0.5s cubic-bezier(0.09, 0.9, 0.5, 1), rotate 0s;
}
.accordion-label__icon .line {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 50%;
  height: 2px;
  background: var(--background-color);
}
@media (prefers-reduced-motion: no-preference) {
  .accordion-label__icon .line {
    transition: 0.24s ease;
  }
}
.accordion-label__icon .line:last-of-type {
  rotate: 90deg;
}
.accordion-content {
  --font-size: 18px;
  color: var(--font-color--primary);
  font-family: Avenir, Montserrat, Corbel, source-sans-pro, sans-serif;
  font-size: var(--font-size);
  font-weight: 400;
  display: grid;
  grid-template-rows: 0fr;
  visibility: hidden;
  transition: 0.64s cubic-bezier(0.18, 0.97, 0.47, 1);
}
@media screen and (max-width: 1512px) {
  .accordion-content {
    --font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  .accordion-content {
    --font-size: 14px;
  }
}
.accordion-content__inner {
  overflow: hidden;
}

.cta-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--background-color);
  border: 1px solid var(--font-color--primary);
  border-radius: var(--radius-btn);
  padding: 8px 16px;
  flex-shrink: 0;
  gap: 1ch;
}
@media (prefers-reduced-motion: no-preference) {
  .cta-1 {
    transition: 0.24s ease;
  }
}
@media (hover: hover) and (pointer: fine) {
  .cta-1:hover, .cta-1:focus-visible {
    background: var(--hero-color--primary);
    color: var(--background-color);
    border-color: var(--hero-color--primary);
  }
}
@media (hover: hover) and (pointer: fine) and (prefers-reduced-motion: no-preference) {
  .cta-1:hover, .cta-1:focus-visible {
    animation: pulse-sm 0.24s ease;
  }
}
@media (hover: hover) and (pointer: fine) {
  .cta-1:hover .cta-1__icon, .cta-1:focus-visible .cta-1__icon {
    background: var(--background-color);
  }
}
@media (hover: hover) and (pointer: fine) and (prefers-reduced-motion: no-preference) {
  .cta-1:hover .cta-1__icon, .cta-1:focus-visible .cta-1__icon {
    animation: pulse 0.24s ease 0.075s;
  }
}
.cta-1__icon {
  --icon-size: 28px;
  -webkit-mask-image: url("../img/icons/icon-cta-1.svg");
          mask-image: url("../img/icons/icon-cta-1.svg");
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  background-color: var(--hero-color--primary);
  width: var(--icon-size);
  height: var(--icon-size);
  margin-inline-end: -8px;
}
@media (prefers-reduced-motion: no-preference) {
  .cta-1__icon {
    transition: translate 0.5s cubic-bezier(0.09, 0.9, 0.5, 1), background 0.24s ease;
  }
}

.cta-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
}
@media (prefers-reduced-motion: no-preference) {
  .cta-2 {
    transition: 0.24s ease;
  }
}
@media (hover: hover) and (pointer: fine) {
  .cta-2:hover, .cta-2:focus-visible {
    color: var(--hero-color--primary);
  }
  .cta-2:hover .cta-2__icon-group, .cta-2:focus-visible .cta-2__icon-group {
    margin-left: 0;
  }
}
@media (hover: hover) and (pointer: fine) and (prefers-reduced-motion: no-preference) {
  .cta-2:hover .cta-2__icon-group, .cta-2:focus-visible .cta-2__icon-group {
    transition: 0.36s cubic-bezier(0, 1.2, 0.56, 1.39), translate 0.5s cubic-bezier(0.09, 0.9, 0.5, 1);
  }
}
@media (hover: hover) and (pointer: fine) {
  .cta-2:hover .cta-2__circle path, .cta-2:focus-visible .cta-2__circle path {
    stroke-dashoffset: 0;
  }
}
.cta-2__icon-group {
  --circle-size: 28px;
  position: relative;
  width: var(--circle-size);
  height: var(--circle-size);
  margin-left: -8px;
}
@media (hover: hover) and (pointer: fine) and (prefers-reduced-motion: no-preference) {
  .cta-2__icon-group:hover, .cta-2__icon-group:focus-visible {
    animation: pulse 0.24s ease;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .cta-2__icon-group {
    transition: 0.64s cubic-bezier(0.18, 0.97, 0.47, 1), translate 0.5s cubic-bezier(0.09, 0.9, 0.5, 1);
  }
}
.cta-2__icon-group > * {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}
.cta-2__icon {
  --icon-size: 12px;
  -webkit-mask-image: url("../img/icons/icon-cta-2.svg");
          mask-image: url("../img/icons/icon-cta-2.svg");
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  background-color: var(--hero-color--primary);
  width: var(--icon-size);
  height: var(--icon-size);
  translate: calc(-50% + 0.25ch) -50%;
}
.cta-2__circle {
  width: var(--circle-size);
  height: var(--circle-size);
}
.cta-2__circle path {
  stroke-width: 2px;
  stroke-dashoffset: 203.0511932373px;
  stroke-dasharray: 203.0511932373px;
  stroke: var(--hero-color--primary);
}
@media (prefers-reduced-motion: no-preference) {
  .cta-2__circle path {
    transition: stroke-dashoffset 1.2s cubic-bezier(0.18, 0.97, 0.47, 1);
  }
}

.cta-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex-shrink: 0;
}

.grid-flow-parent {
  position: relative;
  overflow: hidden;
  margin: auto;
  height: auto;
  aspect-ratio: 1.75/1;
  border-radius: var(--radius);
  margin-block: 64px;
  box-shadow: 0px 0px 12px rgba(32, 27, 27, 0.05);
}
@media (prefers-reduced-motion: reduce) {
  .grid-flow-parent canvas {
    display: none !important;
  }
}
.grid-flow-parent > * {
  position: absolute;
  inset: 0;
  width: 100% !important;
  height: 100% !important;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}
.grid-flow-parent--lg {
  width: calc(100% - var(--body-padding-double));
}
@media screen and (max-width: 768px) {
  .grid-flow-parent--lg {
    width: 100%;
    border-radius: 0;
  }
}
.grid-flow-parent--md {
  width: 50%;
}
@media screen and (max-width: 768px) {
  .grid-flow-parent--md {
    width: 100%;
  }
}

.marquee {
  color: var(--font-color--primary);
  font-family: var(--font-family--heading);
  font-size: 72px;
  font-weight: 300;
  line-height: 112%;
  text-wrap: balance;
  letter-spacing: -2px;
  padding-inline: var(--body-padding);
  padding-block: var(--body-padding-double);
  overflow: hidden;
  width: 100vw;
  max-width: 1920px;
}
@media screen and (max-width: 1512px) {
  .marquee {
    font-size: max(48px, 4.4vw);
  }
}
@media screen and (max-width: 768px) {
  .marquee {
    font-size: 48px;
    letter-spacing: -2px;
  }
}
@media screen and (max-width: 480px) {
  .marquee {
    font-size: 40px;
  }
}
.marquee-inner {
  display: flex;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  padding-inline-end: 0.5ch;
}
.marquee .marquee-text {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: 1.25;
  display: inline-flex;
  text-wrap: nowrap;
  gap: 0.5ch;
}

.mouse-cursor {
  position: fixed;
  top: 0;
  pointer-events: none;
  translate: -50% -50%;
  z-index: 5;
  transition: opacity 0.3s ease 0.2s, rotate 0.2s;
}
@media (hover: none) and (pointer: coarse) {
  .mouse-cursor {
    display: none;
  }
}
@media (prefers-reduced-motion: reduce) {
  .mouse-cursor {
    display: none;
  }
}
.mouse-cursor__shape {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  transition: opacity 0.24s ease 0s, width 0.5s ease, height 0.5s ease;
}
.mouse-cursor__portraits {
  position: relative;
}
.mouse-cursor__img {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: min(12vw, 320px);
  border-radius: var(--radius);
  transition: 0.24s ease;
}
.mouse-cursor__img.hidden {
  opacity: 0;
}
.mouse-cursor.hidden .mouse-cursor__shape {
  opacity: 0;
  width: 148px;
  height: 148px;
}

.social-media-links {
  display: flex;
  gap: 24px;
}
@media screen and (max-width: 768px) {
  .social-media-links {
    gap: 12px;
  }
}
.social-media-links li.magnet {
  transition: translate 0.5s cubic-bezier(0.09, 0.9, 0.5, 1);
}
.social-media-links .social-media-link {
  --link-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--link-size);
  height: var(--link-size);
  overflow: hidden;
}
@media (hover: hover) and (pointer: fine) {
  .social-media-links .social-media-link:hover .social-media-link__img, .social-media-links .social-media-link:focus-visible .social-media-link__img {
    background: var(--hero-color--primary);
  }
}
@media (hover: hover) and (pointer: fine) and (prefers-reduced-motion: no-preference) {
  .social-media-links .social-media-link:hover, .social-media-links .social-media-link:focus-visible {
    animation: pulse 0.24s ease;
  }
}
.social-media-links .social-media-link__img {
  background: currentColor;
  -webkit-mask-size: cover;
          mask-size: cover;
  -webkit-mask-position: center;
          mask-position: center;
  width: 100%;
  height: 100%;
  transition: 0.24s ease;
}/*# sourceMappingURL=styles.css.map */