.cta-1 {
  @include row-center(space-between);
  background: var(--background-color);
  border: 1px solid var(--font-color--primary);
  border-radius: var(--radius-btn);
  padding: 8px 16px;
  flex-shrink: 0;
  gap: 1ch;

  @include mq-motion-allow {
    transition: $ease;
  }

  @include desktop-hover {
    background: var(--hero-color--primary);
    color: var(--background-color);
    border-color: currentColor;

    @include mq-motion-allow {
      animation: pulse-sm $ease;
    }

    .cta-1__icon {
      background: var(--background-color);

      @include mq-motion-allow {
        animation: pulse $ease 0.075s;
      }
    }
  }

  &__icon {
    --icon-size: 28px;

    @include mask-image("../img/icons/icon-cta-1.svg");
    background-color: var(--hero-color--primary);
    width: var(--icon-size);
    height: var(--icon-size);
    margin-inline-end: -8px;

    @include mq-motion-allow {
      transition: $magnet, background $ease;
    }
  }
}

.cta-2 {
  @include row-center(space-between);
  gap: 8px;
  flex-shrink: 0;

  @include mq-motion-allow {
    transition: $ease;
  }

  @include desktop-hover {
    color: var(--hero-color--primary);

    .cta-2__icon-group {
      margin-left: 0;

      @include mq-motion-allow {
        transition: 0.36s $cubic-ease-back-strong, $magnet;
      }
    }

    .cta-2__circle path {
      stroke-dashoffset: 0;
    }
  }

  &__icon-group {
    --circle-size: 28px;

    position: relative;
    width: var(--circle-size);
    height: var(--circle-size);
    margin-left: -8px;

    @include desktop-hover {
      @include mq-motion-allow {
        animation: pulse $ease;
      }
    }

    @include mq-motion-allow {
      transition: $ease-c, $magnet;
    }

    & > * {
      @include absolute-center;
    }
  }

  &__icon {
    --icon-size: 12px;

    @include mask-image("../img/icons/icon-cta-2.svg");
    background-color: var(--hero-color--primary);
    width: var(--icon-size);
    height: var(--icon-size);
    translate: calc(-50% + 0.25ch) -50%;
  }

  &__circle {
    width: var(--circle-size);
    height: var(--circle-size);

    path {
      stroke-width: 2px;
      stroke-dashoffset: 203.0511932373047px;
      stroke-dasharray: 203.0511932373047px;
      stroke: var(--hero-color--primary);

      @include mq-motion-allow {
        transition: stroke-dashoffset 1.2s $cubic-ease;
      }
    }
  }
}

.cta-group {
  @include row-center;
  gap: 24px;
  flex-shrink: 0;
}
