.social-media-links {
  display: flex;
  gap: 24px;

  @include mq-max("md") {
    gap: 12px;
  }

  li.magnet {
    transition: $magnet;
  }

  .social-media-link {
    --link-size: 24px;

    @include row-center;
    width: var(--link-size);
    height: var(--link-size);
    overflow: hidden;

    @include desktop-hover {
      .social-media-link__img {
        background: var(--hero-color--primary);
      }
      @include mq-motion-allow {
        animation: pulse $ease;
      }
    }

    &__img {
      background: currentColor;
      mask-size: cover;
      mask-position: center;
      width: 100%;
      height: 100%;
      transition: $ease;
    }
  }
}
