---
layout: app
path: about

title: About • Bamboo Event Solutions
description: Bamboo Template, a light theme with a modern feel. Simple user experience.

# master props for cta-group
cta_1_text: Book Consultation
cta_1_description: Book a free consultation with us
cta_1_url: "#"
cta_2_text: Learn More
cta_2_description: Learn more about our platform
cta_2_url: "#"
cta_2_target: "_blank"
---

<!-- prettier-ignore -->
{% set eyebrow_text = 'About Bamboo Event Solutions' %}
{% set eyebrow_icon = "" %}
{% set hero_title = "We deliver event solutions that are [%span.color-primary%]flexible & versatile[%span%]" %}
{% set hero_subtitle = "The perfect balance of flexibility, strength, and limitless potential." %}
{% set hero_subtitle_def = "Bamboo" %}
{% include "./_includes/partials/hero.html" %}

<!-- prettier-ignore -->
{% set small_title = '' %}
{% set cta_1_text = '' %}
{% set cta_2_text = '' %}
{% set paragraph_title = "Meet [%span.color-primary%]the team[%span%]" %}
{% set paragraph_text = "We call ourselves Bamboo Event Solutions because we take pride in delivering event solutions that are flexible, versatile, and backed by the strength of the leading event technology, RainFocus. With decades of event experience, our dynamic team will help you deliver amazing outcomes." %}
{% include './_includes/partials/paragraph.html' %}

{% include "./_includes/partials/team.html" %}

<!-- prettier-ignore -->
{% set marquee_toggle = true %}
{% set marquee_text = '• Organize the [%span.text-stroke%]most amazing[%span%] events that leave [%span.text-stroke%]lasting[%span%] impressions' %}
{% set marquee_scrub = true %}
{% include './_includes/components/marquee.html' %}

<!-- prettier-ignore -->
{% set small_title = 'Our services' %}
{% set cta_1_text = 'Book Consultation' %}
{% set cta_2_text = 'Learn More' %}
{% set cta_2_description = 'Learn more about the services we offer' %}
{% set cta_2_url = '/about' %}
{% include './_includes/partials/perk-list.html' %}

<!-- prettier-ignore -->
{% set grid_flow_img_src = '/static/img/library/library-sample-3.webp' %}
{% set grid_flow_img_alt = 'A group of attendees celebrating at an event' %}
{% set grid_flow_img_size = 'lg' %}
{% set grid_flow_img_loading = 'lazy' %}
{% set grid_flow_img_width = 1024 %}
{% set grid_flow_img_height = 586 %}
{% include './_includes/components/grid-flow-img.html' %}

{% include "./_includes/partials/faq.html" %}

<!-- prettier-ignore -->
{% include './_includes/partials/loader.html' %}
