---
layout: app
path: home

title: Oak Event Services
description: Bamboo Template, a light theme with a modern feel. Simple user experience.

# master props for cta-group
cta_1_text: Book Consultation
cta_1_url: "#"
cta_2_text: Learn More
cta_2_url: "#"
cta_2_target: "_blank"
---

<!-- prettier-ignore -->
{% set eyebrow_text = 'Proud RainFocus partners' %}
{% set eyebrow_icon = "/static/img/icon-rf.svg" %}
{% set hero_title = "Premium event solutions for [%span.color-primary%]you and your attendees[%span%]" %}
{% set hero_subtitle = "Utilizing world-class event technology, we’ll help you deliver the best event experience." %}
{% include "./_includes/partials/hero.html" %}

<!-- prettier-ignore -->
{% set grid_flow_img_src = '/static/img/library/library-sample-1.webp' %}
{% set grid_flow_img_alt = '' %}
{% set grid_flow_img_size = 'lg' %}
{% set grid_flow_img_loading = 'eager' %}
{% set grid_flow_img_width = 1024 %}
{% set grid_flow_img_height = 586 %}
{% include './_includes/components/grid-flow-img.html' %}

<!-- prettier-ignore -->
{% set small_title = 'Our mission' %}
{% set cta_1_text = '' %}
{% set cta_2_text = 'About Us' %}
{% set cta_2_url = '/about' %}
{% set paragraph_title = "Take your events to [%span.color-primary%]new heights[%span%]" %}
{% set paragraph_text = "As partners of RainFocus, we leverage their award-winning, next-generation event marketing platform to deliver exceptional results. By combining the expertise of our experienced services team with the capabilities of your event team and RainFocus technology, we ensure outstanding event execution." %}
{% include './_includes/partials/paragraph.html' %}

<!-- prettier-ignore -->
{% set img_1 = "/static/img/library/partner-img-bamboo.svg" %}
{% set img_2 = "/static/img/library/partner-img-rainfocus.svg" %}
{% include './_includes/partials/partners.html' %}

<!-- prettier-ignore -->
{% set small_title = 'Our offer' %}
{% set cta_1_text = 'Book Consultation' %}
{% set cta_2_text = 'Learn More' %}
{% set cta_2_url = '/about' %}
{% include './_includes/partials/perk-list.html' %}
