<section class="perk-list">
  <h2 class="h6 small-title">{{ section_title }}</h2>
  <div class="perk-list__text">
    <p class="body-lg fill-text">
      {{ section_description }}
    </p>
    <dl class="perk-list__list">
      {% for item in list %}
      <div class="perk-list__list-item gsap-animate">
        <dt class="perk-list__list-term h4 fill-text quick-fill">
          {{ item.title }}
        </dt>
        <dd
          class="perk-list__list-details h5 fill-text quick-fill fill-text--primary"
        >
          {{ item.description }}
        </dd>
      </div>
      {% endfor %}
    </dl>
    {% include "../components/cta-group.njk" %}
  </div>
</section>
