<footer class="site-footer">
  <div class="title-group">
    <h2>Ready to spark your events?</h2>

    <!-- prettier-ignore -->
    {% set cta_1_class = "scroll-bottom" %}
    {% set cta_2_text = "" %}
    {% include "../components/cta-group.html" %}
  </div>

  <div class="paragraph-group">
    <p>
      We’d love to learn more about your company, the events you organize, and
      the type of support you’re seeking. Contact us below and we’ll set up a
      time to discuss our future together.
    </p>
    <a class="classic-link large" href="mailto:sales@bambooeventsolutions.com">
      sales@bambooeventsolutions.com
    </a>
  </div>

  <div class="bottom-group">
    <small>&copy; <span class="year-text"></span> bamboo event solutions</small>
    {% include "../components/social-media.html" %}
  </div>
</footer>
