<footer class="site-footer">
  <div class="title-group">
    <h2>
      Ready to spark <br />
      your events?
    </h2>

    <!-- prettier-ignore -->
    {% set cta_1_class = "scroll-bottom" %}
    {% set cta_2_text = "" %}
    {% include "../components/cta-group.html" %}
  </div>

  <div class="paragraph-group">
    <p>
      We’d love to learn more about your company, the events you organize, and
      the type of support you’re seeking. Contact us below and we’ll set up a
      time to discuss our future together.
    </p>
    <a
      class="classic-link mail-link"
      href="mailto:sales@bambooeventsolutions.com"
    >
      sales@bambooeventsolutions.com
    </a>
  </div>

  <div class="bottom-group">
    <small class="copyright">
      &copy; <span class="year-text"></span> Bamboo Event Solutions
    </small>
    {% include "../components/social-media.html" %}
  </div>
</footer>
