<footer class="site-footer">
  <div class="title-group">
    <h2>
      Ready to spark <br />
      your events?
    </h2>

    <!-- prettier-ignore -->
    {% set cta_1_text = "Book Consultation" %}
    {% set cta_1_class = "scroll-bottom" %}
    {% set cta_2_text = "" %}
    {% include "../components/cta-group.html" %}
  </div>

  <div class="paragraph-group">
    <p>
      We’d love to learn more about your company, the events you organize, and
      the type of support you’re seeking. Contact us below and we’ll set up a
      time to discuss our future together.
    </p>
    <a
      class="classic-link mail-link tab-element-page"
      href="mailto:sales@bambooeventsolutions.com"
    >
      sales@bambooeventsolutions.com
    </a>
  </div>

  <div class="bottom-group">
    <small class="copyright">
      &copy; <span class="year-text"></span> {{ meta_data.site_name }}
    </small>
    <small class="credits">
      Made in collaboration with
      <a class="classic-link tab-element-page" href="https://axyscreative.com/">
        AXYS Creative</a
      >
      <span class="sr-only">and</span>
      <a
        class="classic-link tab-element-page sr-only"
        href="https://aarongarciacreative.com/"
        >Aaron Garcia</a
      >
    </small>

    <!-- prettier-ignore -->
    {% set social_data = social_media.links %} 
    {% set social_footer = true %} 
    {% include "../components/social-media.html" %}
  </div>
</footer>
