<section class="hero">
  {% if eyebrow_text %}
  <small class="eyebrow">
    {% if eyebrow_icon %}
    <img class="eyebrow__icon" src="{{ eyebrow_icon }}" alt="" />
    {% endif %}
    <!-- prettier-ignore -->
    {{ eyebrow_text }}
  </small>
  {% endif %}
  <div class="hero__text">
    <h1 class="hero__title" aria-label="{{ hero_title | removeTokens }}">
      <span aria-hidden="true">{{ hero_title }}</span>
    </h1>
    <small class="hero__small">
      {% if hero_subtitle_def %}
      <span class="hero__small-title">{{ hero_subtitle_def }}</span>
      {% endif %}

      <!-- prettier-ignore -->
      {{ hero_subtitle }}
    </small>
  </div>

  {% include "../components/cta-group.njk" %}
</section>
