<section class="hero">
  {% if eyebrow %}
  <small class="eyebrow">
    {% if eyebrow_icon %}
    <img class="eyebrow__icon" src="{{ eyebrow_icon }}" alt="" />
    {% endif %} Proud RainFocus partners
  </small>
  {% endif %}
  <div class="hero__text">
    <h1 class="hero__title">{{hero_title}}</h1>
    <small class="hero__small">
      Utilizing world-class event technology, we’ll help you deliver the best
      event experience.
    </small>
  </div>

  {% include "../components/cta-group.html" %}
</section>
