<section class="team" id="team">
  <!-- prettier-ignore -->
  {% set accordion_list = section_team.accordion_data %}
  {% set accordion_behavior_single = section_team.accordion_behavior_single %}
  {% include "../components/accordion.njk" %}
</section>
